:root {
  display: flex;
  background-color: black;
  color: antiquewhite;
}

body {
  background-image: url('cartoonDogs.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-felt {
  background-image: url(felt.jpg);
  background-size: contain;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 1em;
}
.red-felt {
  background-image: url(red-felt.jpeg);
  background-size: contain;
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
}

.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

a:visited {
  color: antiquewhite;
}

.width {
  width: 150px;
}

.bracket {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}

.flex {
  display: flex;
}
.flex-justify {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
/* ***************************************************************************************************** */

/* 

.button {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: antiquewhite#1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
  background-size: contain;
}





.first-two-games {
  display: grid;
}

.final-match-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 */
